---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About Me" description="About Lambros">
	<p>Hello! My name is Lambros. I am a Chicago based software engineer.</p>
	<p>
		I worked for <a href="https://www.cboe.com/">Cboe</a> (an equities, options
		and futures exchange operator) on the web team for 6 years.
	</p>
	<p>
		I'm now a full-time masters student in Computer Science at Georgia
		Tech's <a href="https://omscs.gatech.edu/">OMSCS program</a>.
	</p>
</Layout>
