---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi!</h1>
			<p>
				My name is Lambros, and this is my personal site.
			</p>
			<p>
				I am a software engineer and graduate student in computer science.
			</p>
			<p>
				You can read more about me <a href="/about">here</a>.
			</p>
			<p>
				You can view my blog <a href="/blog">here</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
